{% extends './pages/components/navbar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container" style="display: flex;">
        <div class="card-group" style="width: 50rem;">
            {% for list in lista%}
            <div class="card m-lg-1" >
                <div class="invitado">
                    <img src="{% static list.image %}" alt="" style="width: 60%;">
                </div>
                <div class="card-body">
                    <ul >
                        <li>
                            <h5 class="card-title">{{list.monsterName}}</h5>
                        </li>
                        <li>
                            <p class="card-text"> {{list.description}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</html>

{% endblock content %}